@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "montserrat", sans-serif;
}

.menu {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 55px;
}

.nav-menu1 {
    display: flex;
    list-style: none;
    font-style: normal;
    font-family: "montserrat", sans-serif;
    font-size: 16px; 
    font-weight: 200px;   
}


.nav-item {
    margin: 0 10px;
}

.nav-link {
    line-height: 2.5;
    padding: 0 10px;
    border-radius: 100px;
    text-decoration: none;
    color: rgb(87, 86, 86);
}

.nav-link:hover {
    color: blueviolet;
}

.button {
    padding: 10px 40px;
    color: white;
    background-color: blueviolet;    
    line-height: 2.5;
    border: 1px solid;
    border-radius: 100px;
    text-decoration: none;
    font-family: "montserrat", sans-serif;
    font-size: 16px; 
    font-weight: 200px;   
    text-align: center;
    width: 200px;
    height: 55px;
    justify-content: center;
}

.button:hover {
    background-color: rgb(150, 106, 192);
    cursor: pointer;
}

.section-principal {
   display: flex;
   height: 95vh;
   justify-content: space-evenly;
   align-items: center;
   margin-left: 150px;
}

.primer-seccion {
   display: flex;
   flex-direction: column;
}

.saludo {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 800;
}

.nombre {
    width: 100%;
    display: flex;
    font-size: 55px;
    color: blueviolet;
    font-weight: 900;
}

.descripcion {
    font-size: 20px;
    color: rgb(87, 86, 86);
    margin-block-start: 1em;
    margin-inline-end: 1em;
}

.proyecto {
    padding: 10px 40px;
    width: 200px;
    height: 60px;
    margin-top: 60px;
    font-size: 16px;
}

.imagen {
    display: flex;
    width: 400px;
}

.container-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 70px;
}

.box-conocimientos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px; 
}

.titulo-conocimientos {
    font-size: 45px;
    font-weight: 900;
    font-family: "montserrat", sans-serif;
}

.descripcion-conocimientos {
    max-width: 400px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    font-family: "montserrat", sans-serif;
    color: rgb(87, 87, 87);
}

.conteiner-box-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
    max-width: 900px;
    align-items: center;
    margin: 0 auto; 
        
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
    background-color: white;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
    font-family: "montserrat", sans-serif;
    padding: 30px;
    margin: 10px;
}

.box:hover {
    border: solid 1px;
    color: rgb(150, 106, 192);
}

.box-html img {
    width: 120px;
}

.box-css img {
    width: 95px;
}

.box-sass img {
    width: 115px;
    margin: 1em;
}

.box-javascript img {
    width: 110px;
}

.box-react img {
    width: 170px;
}

.box-git img {
    width: 110px;
    margin: 0.5em;
}

.box-text {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 10px 10px 10px;
    font-family: "montserrat", sans-serif;
}

.seccion-frase {
    background-color: rgb(150, 106, 192);
    padding: 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
}

.frase {
    font-family: "montserrat", sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 800px;  
}

.autor {
    font-family: "montserrat", sans-serif;
    padding: 20px;
    font-weight: 900;
}

.conteiner-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mis-proyectos {
    font-family: "montserrat", sans-serif;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 900;
    padding: 50px;
    font-size: 45px;
}

.frase-proyecto {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: "montserrat", sans-serif;
    color: rgb(87, 87, 87);
    max-width: 800px;
    padding: 70px;
}

.conteiner-img.proyecto {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto; 
}

.box-imgp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 260px;
    background-color: white;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
    font-family: "montserrat", sans-serif;
    padding: 30px;
    margin: 10px;
    width: 300px;
    height: 280px;
}

.box-imgp:hover {
    border: solid 1px;
    color: rgb(150, 106, 192);
}

.img {
    max-width: 250px;
    max-height: 250px;
}

